
@font-face {
    font-family: "Jost";
    src: url('data:font/woff2;charset=utf-8;base64,d09GMgABAAAAABZ4AA4AAAAAKzQAABYjAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGhYbh2wcMAZgAFQRCAq5LKtAC4FOAAE2AiQDgxgEIAWJRQeBfhuCIqOilpNa5Mj+KsGcYutz0BUDOmgZCEUrxEGtjQthZ2Mw25zQ7/J2a+8BtS211k732YEwXRgf/xkhyaz/tR/7c/eu2FvEvRMiTUSaeTVJJIaUmP6bZg31V4anbf7DgYELAxcmZmMizApsrEJAODASFBU3RZ2VeGZ8hxmrUFYGy/rdPET35tvZ+UX4QA/0UsVap64SsgCWisHgZRTchuiOS+rEQqjiO9y/WzkfWMkMrES9dq+sxG459UoCTMOxiUOfpKhEK/PKZNcTf3363P+dmoiVpAQZ00t95UlcgTkA5x93l7WA+/J/Ost2dMwd66DbFB2+PkWfppn54xnvny/zkaTTHpC9IUNATyHFDsgB6rCogKpLt8v23nEIoUzRlmGT5SQcVplmLVbT5w7ZtABdUjdqIdZwHEG3f2dmTwgEiAAAEAhZZk8f8BrZkFptksjg+OVeXgY4TsJtRQR0cZSTAWQ30vcl0Wf2eG0REsQiPjshGe7/vFb/g8XxZavPImzZL84tvBlAXOTG4/tUs2CQvqRgatu/2ANPnkt7PqF8Q2aFU6hsQxLLYMgS8LW+eARzOpDc+EL66TCIllCzEiOJgr5Bgtm9tHURFxKEUbZVE3+kwNC184YgDgEIpvy0SQlGAnJ+Kquwnp27BABu7rErLd7PlAxB8TL5TlKlRp0OXXr0GTBkzIQ5C5Zs2HLgxBmeC4KzPHjy4s2XvwCBgoQIFSYcWYRI0WLEihMvAUUqKgRlDtJQbuLhyW45YDjlImdTIGIqMDhUCwCZMLMQgBYkr8jt6sALSWUtQ6U1AJJPlsKxRaQZCs8t2VkSNEMIpqNyakEySGNpQuM+MX8y61UycjSlgKLiGYFhp61ZLkm+ViVRk6Uv+TedIchRPV/bycKRRsxJDo0FNGv7dM2Yf2SZXs0MCtQyxQBeV49ZPKOHHbb4uOP6jQkAH8D6x96vATSsK8Cn4acBBlDLoJSwUBIxH2kYFVoznHTmPT7jN/wDKVEb+n3qq86KVxnFhDBG2kfCpxU2+hcAvACYTyDu+lautKydJykpAE0nSbGCWY5FpSepw6FW3lRxdknympnT3nVS9CSerUgk8miVejrMSFlXayJeeclAzI5eS1RUNbmkxevLc4M13yIXgKikFCW10E9qSs45d7l1VFwbjcWTw3QuIT23ILmbbayhzkqnlfTG8uIQ+ebbqTB5bUitgRopqwozqvWRj3tj5rh6rVfIsdFjSTSWGaCWVtU547z8Y0aWM0wu2tNPeXkHyw3NB0++FUd4CEeQg0JzyCaLCfxCdNS8pRUnzw00ARb8XC4f+S21gA5oROXQtMrPTUiyWGnh0TeHPPezJQjORjf2O8cYQnTN3v8n+Sautpz/H2dUeO+yg24pnDRJhAX0uUeSKOMKPC/tcdBmCc1ymr/rPlbf7vaMryJjEV5d7Lpy6TMY4IGoR79/2n/8vgM4OEI15BGgG6jzx5rPOpSvI49xpNNtdRXI7jE6W/SCIzSZJA2iFMqjgm2avTB6+XQGVwCyW7M8qsZYD0Upoh+hdHw0sqqcBxY9HjKdqGKFWFThXEQS30PBYudlYfuKhICjLpK6llFKHCcMRk8UHKY0gZdCeTyb4gBKJfzCqFRMYavWO7KQoqv9PZJpcFmGpY7a+QY+3BJgHAGAzMgf9DoTZDkubjqIaMatmVlUrqo1jJTQVHC7uFnOHyhM+BEAzBwnPIfcTOd1TYiwzREPioghifLgcoR3JDzgEgfn25GvJNVsK+e6jQVsY1dtb9K56G/aACBIok8yF5xSEpsaFtkXtSXtzmheg63Rfi/CIedoB4L8nNDUIXv+YNZdF6DH2oVgxzBKAhk3YhQdgfxNvwcs1ZWVRjGqxmK1AYeRmD1XHTcna19N+3B3quW841JZZsgZucvUbmhkkQ1E6ReybBQxbFoYeuUtEuFmCXcwi0nJK+FhIrdX+JJ9E6pIJsCI69YaTtDEJE61QllIPBfZ+7jou/2Cn3bmZ8xKcVHW6n5FZcUJ6hPEqZPKvMbahSLMEQoyX0QXuEiiHmx27WBHpbisBhdRXxWxS4FjZgyhlhTPNqeu9t7VWz58qXfQd+yKFaDxOr+E43o4FnkcLURmShYltL0Rw/qZyfWJ+0KipwcZHMLhQRwZpqGJ3QomfOInVxwoUqj3CCJPAwc98T5GoXmq4F4coD4EUgZvtO84m4UoMNCigAhDTr47oghYqtdvdRHqBzSPku1iUowxhmsmm+/hw3BZUmjW7caDcFUXubjbZ6TI00upEEiZSXWgqHaVBlG6QKEr++dBzz59Jvn60B1B0+TBS2MKjcrN3yT0OK1eX1CyDq8kzWzFaXlakgFSoTIz9UIoL1o+uTPyN3wDzrbv0V1KpzY3m1LvEPZLCG7azwomTOjVjhRBzZH9uzkxTadEIifhT6IcQimiSjPEmIsUjdDMdZr0y/1zmnKNJc4kQcvICwzyBwLzuuxcebN9+GbbgSovacagF623Dh4MPaH6SKZ0UxU5MCmZuyINyDQ0Qi5TG3sdHn3brbcP+3txoJ/62MUOf62fMyJ/UC2HkgrtAyktQBKgWNGnXUS1IQ4bcFR9l1z0Do/o1d+IdKhoZQ7YbwjCjeyYl/XVg+oYImIMDaoRXaDMNZ7OPfCx270cZXPj0aUyfXO6eLNfgL3C6QeFAMrUXXQlErZPsmcJtVrqv8n47EryfkwnKbs7LzyfijW0LiALcLzRLp0OZGxP4LgKLECMgBA9BlashX2B1XquntUuUNSH+XCE/2EEvzvCD/isRb+KK/0yGqTNUgX5dw5zK/pZYunn6H/Ya1Tmmg/5thRF+ceV+gOHfacM1EFZMz/dxihKnOIUpb+Uyleb2jpck9ujSdqUDiVOg8n2mkGe+QmpPFxAW1PHeUejZIJnAj7CgBIWZcT08Qm14npXXVtvP/Ym9Y23bDEhOtolBQOQ5Z8URMuniVPnldNOOqw0ZxSchsQ8uMqpvEkXv1oguK11fYELfjGo/5AD/J8TUC230wmOGsGFYYLMKhfHhG1fLJRQO+ZbYxSrr5Hjht6G26Bief+TEpHP/+UPrhzs/Lwm9WgWdyZR18fVi0TGqY66BRT929oZnc6lQXnZcad5Cd8l/3TKClRf6mu+emmh/2neHT+LpZhbGD+3hYGqNyF5/5auHoeTv16zsQa9XSkpr6dLJ5by1YotDgzfDnS8h3KLUY9zzpYPTFT8xfFpcI0Ro0iO6yqgYh+C57LmYAiezZoFXvtMo9f/B6gCuXtUmAoOrbBiohirtUvcBQ52MNvOW8wGCX8PFQZ9uGwkudSdkOxDaqz63Pg3kkvt/38D8sidvDUIoKayAEobmPdeDYkg9yXZGzD8oovsST1LL9azPv945gFrkpRaZFPtKb5yW071EwSIyju/vPsit2xppLN1dlgQ4FGY6S8w8KHV3+0vKmjq+W+wm5M+8fQBZe8pnAfPlRg06s9tdsz+cgjMNK3zeKan3lDfaGVrYVJVlIGbm4QTsFnBuUik+7SbJRHtcm40nJu4LV4YvLHTkSMKSInZ+HuEFlT0Qz5tePE7FDDxgusv+sX71M/8LveUSMsPSMtLyI7DmzK4sbuHxJ3Dsf7dg/ZR8SFA6luynpktwRxjgSXgltX13CzWh/T5s5y2Jw/dZW/bcMEMpF/de7Pui2+/5NKLlVt4/HG8595Yz0dh91dHW7caFkVKC6KG8svLf1xZBpIrnn52sgPbOd1d71iubi4YrfxIPMqU2yl6nNpibZ53A+CU7UNzWG6hG3g+yXUIVKTQ3tCIiprUN1RAbEHbu+VCc4hf+9NmAQeMQuP8VPce92qUfUxACM2jAhu+/f1XCyMy3yyhZNRD1Onaq9/e1FCOwYqJW1itTeIu8Gl4dQ2iPnpTcugrLGGP4TZSqRbj/hnJJIq2VXACUyrSPKQ1NoozeLE1zX2czTjn4BFVAKlFn5lLC3+M1ymnG0Rah8Tb9adk+N6u7nucWHnHaX3C7fYxW7wcaiXTKpjh9I4wSIxnztgzWbwEaHAOpmacj2YNLQHBtdes66/5hu0Pp5/KNrFMmTIghA7UFG8/iqwnARTscO3l/AS3qqNQo01jc/3Hv2/+eLNyqpibP1qpgnn4bPzqaE/zw3HhM/Bod6FLXbZnUEN0XZgQekAStkqlr19mKboI3vK0q1V4EDh1gu2TV3S4+7HdA7GfgbUAoGCBc2VdGQZQHjXGrGKOufsaiIkA+gYsxWr+xGAxcpshqf1nN8s6+5MpZLqXDXBDyaySlnjZybugAN7x2lgLHiPevi47V40GEptDffyKUA0TJc/jegfjPlctdGuc6J3IvxVWXU9ekWdo6Zwd7RWdC1BwrsRLkg3QArhGlHria4iDZEt8VHR2GZAG6UBaZbxxoNm/1mvx8qD8kNKmgv72P5syHzw8MOnGyVmFQFcA5n2mzGJmNpr2UPd9kO5+UMDswYRauXdA0Ac4C6AeemLeTWevBtb7DGKsHFkKG1fkMi2+vOXpGp1TRE9XxHzqHn6eyEcEpagGJSOmTgx0qtkph4hlPlR8/3DxK/9sFZTlK96rwcujVpdHDP0+PVqie59edgjbr44rdOr7Ta/7qqtL251xF6Z+PKb3u+x7cOLllakDiejUXFLtYMxmbDZGYCfhSCbvDgs7d4bBUq9jx4qoqXqgk+uiT3FwS8AH6oz2/RVm8uw/Q88zMbbdksuToQ3WNLJ3Mp1iz/j8knehmJoz1rZ0NizGlOLrQTbj+U1/93SOc51ZNKTLAIgDSxaFVQhQllncAaD14awd0fJd36W7op1YfvKLHB7SJSWouac1slMYT4IPYgb+OJM3VKKt/1Atb0+NuhfezZIz+0Oq758ARxW4anzy5vdV3JrzNVUPvu+drAr1AfgPMF9TmRSURdIYDuI3fwDIG5asd7gbVqbQ1zh7gkA5/wmQcfhICwGyIIQKEL/COTYHcMGxhKnZH6h/hTSAHbVVqchk/2998X8G+IcESAD9gZLi4OEzAeRTpXDBA1kbAwtwXQ80a5C4SGWUr/XWX9jqG5nKC+qNzyni95e/uSdgMUomJ4RqHM/OYuCes7SJPHqVs1xmmfkCAtIEiG2ZtVzGudrVRxfv9VTeeeN/501lD5jjhx28GGQvxpkJFuY9aNXPSkpf1x0on7xPXfCaF5gtxrEHQfAfm8hjemZnsRe9sMzsIeyl39uDq27z75e8CgZHlC/9gnks+Ufp1uUfjrywtijZ0ZUbrezB+LPUCPugor1cmT1u/cq8QmebVOPCOkANi+LTW0qGSjPdo5wjLN0DayXJP1N/9mf5xwOaS3rl8kyrB9ciJd5JSLljaxvyKIQjv4DgAr/tkoJ+Yuy1n9+iUkvZ4d9ODNx5WwmDfxPAC07veCEhrs/WzzBxIJPa0rMwCkEAre9E3HSdJk67qiSwRCwg297vsI7VmiJOaWEVO7A2Xv54opYQvp4/UZzpHg2MU0UXNiveGVVv/P2Ppn0/Ahjo7AQidCCIlQguMxtGiglQYFdmDJc8bxG0rUdpyoyjVeSo0I3oXTlJ5Y0r4N8EXnpFJqd3rIg70Q1Dek8Oo7l3dQCCQPBhaoeqn5eUvjld+ro1ChlQxcKFHbxw/0LnigBxFQKobOhF9m1DHsvWO65552Q8l+iF8E0PeN8hhWuiC7q+WWT3lDvOUZtnPaKCdYvJBEgE+uW1yZWMtEhGdKD2BMdNb7z3e1dVksUHrRDrnGFeQc4Y2yg8ChfWMewX7+2u3a7kofPTfffTkSZRbibRzrxJYVXNcq0mBSB0RbAvy7eL2oVDwkA+is+uzkp2j+5sZkvP+ihlSLCLCh3/d6pCNdsPMn8anH8fK/ysoKSr9O9TzsmfPyilKijmKgATDxHP63bMe96ZJtUmXsx7z9s8VB5wUBYZ5GdzftQ5tRfEx7+3fw9Myv1DqEpG4f75VAeg4uVQYlaKL8WbF0e4hLnjk2LjM+qbRXtMnTCmzp6oOaMuPjYR7+4SBo4e+lKALKAA1ZZiizLnMmfzEuGZLolWHYMmQ6x+VpLLB/grkyJLVo+xdfNN5LnnnnVzNguxMiEQgryxwjQZ/hnKHbeIDDzD2d0pKc7O1jso2v8M0K+AsbvE3R/227ia2x+xYiUutK94TTjde6EHmtaLupiWWzffWk1ntUx7sjuYAUOJHGbqYE8wrYzCEoy3nAthuzWW9eSBE/rlKfYe3qsq5Znr6gHuZCOuqu/GH6cOCFu6w9/cHd/4VeqNOYuSHl2/0eIKaQY7Nnb5hVZfX5RtbwFNc2vA1HP7V4+L7xB3hJrYLe8+bdy9VQo9Q/L8L/5MzHYhEbG/AvYijuBlaxzk8EZj5hH9qUkzl6aaj9/+whOA285Pcj0t6YTLnw2yAAC+Xmo/AgD8O62xKvR6O3TMxgAsoZD6b3MhvKyw5d1ACAorySuDDjzXLRIWmJbrfHMYdXjCd6ALC4xp4WZVvJaE3PROLhOIeOUkgg4vEv6XVg5L7FyzMpl5UvCz2XcrFpZF6GnKPb0UZrA1kEQUKFeaBPJryODEGPijEd/hJKX0MK2KxA4Bgu/ncgZLCtq0z871pMsm6Hb5XDDBF2p0LcqIxmovsWlquTHLGdI60rtp5BND5grT3Ywe6BZMKcPphhcxv6CFJ2qcGAIJAPFLxIu8s4CQnxEMmT8vJDzEBhU0eKdnHL5Zcz2QkESUVz/TTIn26EJUQGRGtA7CTvzbVUqJxqo8ssPZmo4n27kYrJ1uUPHb38Q+mpxd6nmVtx0wAeIyl9auCCcHeTmJ+jBsvLO4HffYiNrZJBixBWPSZvkoScm3lWDH1rxzO/OAC3ZS3s7YuVDNFvOoztERlACDNyJ4NiluL2whtZ9t1hiIpAxspTj0ba0w8HbWsBFsJ4M9086F7sOYR4mL9+bCg56uQmbQsP6ZuXmPFFLPzW8z+sYd+TTm4Hb5lHc9b/Eq8nsobJp5U7gxliSTT4il3symbGvhgGe+DP4smbfUI9kExU7IRnp4yL3+8mv6YUaxBngv3I/0UtQyovoYSlpj3triY7CatFob9pO5spS8W2izJc/5FUXVlyzwc5nsBwfcy2Bv0lmZPNl6wsBDpiyFcjClYciDZcNq5mKRRxYN/XdQ7nkM2dWYCUKTyipu8uUBM+cwF2SkzgmzelFnliylYXLFngqFhVRg+kwjUwYqmkEvR74hMV5IwbbM3UJZMWdsFU1sjgTPDUMDh8uWYqK2LDjAY4oIr8WT5tSKBHDInA8yYIOWQoCXmDjIWwwQYjiQHoljS/wNxUW2x9S+myEXSDVOPiZRExYx0RRdPyRPwXjaM4y2k5Qts6YgLWuYyZxobVMDcVMUwDAdopwYYHEcDxyw6bkJ3Ykxc9b5pKifK7UMYBYwF5RrhizyFdPWHvpg3kji6RyMUd3ceL+fOHTjq64AFIgjgB+q9ZawHC+IMkmOXIqUKMNQcdIpp51pwH98DZq0YGk35ZMRC0yZNej7Vqwb9Q+NY8eeA8fGfSTai1y5cW/kRx9LfoxI7MaCWXsUcxMloUsKtmzFzpn8a6bVW62MJw==') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Jost";
    src: url('data:font/woff2;charset=utf-8;base64,d09GMgABAAAAABYgAA4AAAAAKsgAABXIAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGhYbh2wcMAZgAFQRCAq4ZKtLC4FOAAE2AiQDgxgEIAWJIQeBfhtpIjOjwsYBAKh2GmT/5QE3ZEgfaJ5EZQaxut7+Y3W72hnF9bRqXBj3hOT7z1NGUcWzYIMt5Suq28RFGITNu/oRkswapTP3QPbpJMtPRArgMyhACsN/wq4CWCmARYlUEnlSMleEOFqYKwUh1duJEWWTzd1v06pK4hEWYQlGgyAIEGjVoAwap0iH57f5f9RlAFtjFEahrrRJCyuwwApQnDMaLExQ8V5dKMeoO5+JMZ+TzWXY/0+fe9X6ovofwD/vlW3/9YB3s8ipp2KeXdUK9kT0L0yycrpAdqKVm8kI8k3CS78c+uff+P5EppuorX64Ikmp/3+uXvvyqYBTlpiCW+FbI+przH33JW/m5m42GcAs0exyxuSnNGemNFt2gJJAfTn5AKSKJAkUoK1xFUJWdts7fyHI5pQcpAZF1/8n/4+ZBmeyba3PW9YY5PDLIX6G2jHJGocEAtABAEARxIz06AEpRRF6vuTrYLxuSwoGDktFDOR5n1MQa5UHHC2F2FedxIEe6VtehsuJ/zf8Ds+32HQjOUY8A2pDTgWaWVa2zjm+EAChE4Qq/zaxyTn/ncDcayuGHS7+vzj89wtWQMInWxmLNJzObGq6sJp1FVnziC8xRCX4oyI0i9LC5ZIytfNioWzVLGn4RrNhOlagZZVeQyppMC/wc9tVnd+4PwD3dhBLY/A7SpRSSB5BwkSJFiNJshSp0qTLlCVXnnxFipWrVKVaDdNwo40x1ji16jVo0qxVm3YdOnXp1qtPvwGWCaaaZjpCMRl3qdbN1dXqxYAbwNMp1wR0jCKNyyrLAcBDK6QAaEaWnGA2rJE0gCLMJc46ABgBOvJqEDmyKyXKYFjkFwNwiQKnKJ5SMM/TqqSTlhkzuscqjDBNSSesKTEruWkAnhRmqB7Jm3jnKYoQVtVqq4BH5vkVOfKwxpDHXBxD3GxfF9cc7J5nYtVRQDnx2wCnfM30y46Vas3Zdmd/WrgqwR+x8w/w6iYmrVLb5KQSUJdyUQgySQNuhFIk9Ka4dV566zf+yOQlVED9JAesc0BhREZkjBMY9p6AW4B94P6BfiWrA5BBo4cJKxK0/OTR0so9xqqISlxWaUPW0utLFK0FnCZ3jLPGsfyScC4qMbzGRIUQ6V6dSynxmkTd44pKlyzOK1xhUjYAfDd3BxQtxq67WYBQE6TQZaLOvZprARsRgYGGKBYBUVZXx0io5Eg9REaGGKHusBQjOJ02NJ4YXIEXyJHAQj14CORwFs+M89PRGo9wKyifkBTBdqXCS7vlAs9zcrHr65b0RMSpjgt0WY1RDVNUNs4nwBTWcr5jiAp/V72TMQLvnYFnn8hfbvxFXiDqKUxAppTtLKWWZr76V9Ye+lAFADvVDiOQ0joR6o4MRFtk5bgnR0AWo2N1t1+dPdkWGO0BNukv/dvNz/z76r9vvtsuDo5aErzRKe1Ywqw0vZeRu6/IU/uBUV+4J6EWdqZ//l18LZQAinQTj1Swn3xUiUGlSr398SzYzrgzVqXyhDVqmdUaM+IUMyAXw/gtW7Z1GfRI7NzFQTjQHdkLuqKt9gS9IUG6xb6KBGcTDczSjn6HAf2B0gjccrIAS5Fi5MUPQ9ZiEVodq6vt1DilCDCG8XEjyWOwNWxXx063XmaOFCBfvtV7nGb/CtPgHWwfLkN714Hs6FC1OSu5yGu+drDyOrANe9uKexICpFdfLzVw4XeM+mZPRzqHwDNVqNoikJ0TA3Z3lrq6w7pVthca0GQcRlgJXMrwNyTCRdnmTfs7rZUBVTGxusrYPbrn4og/0AfGBCxqlO1CGRWKEcuh8nPgfbPUfvtPy4YONb23C96hg/x5EYnzDs94rk79k6sQQt5o1g2kJjHHDSRH5zFGluO6uPl44iuwCGHAXLRf9UNJchYIAHAKe0b29YLu3mYus0SPhId5CfKxAonEqUVubUeRs8KBI7+UUp6/zzK5aw2RAw6nRClJOpssdkpmU3dycbxh0mW10A7a3MLtKJopQJ67yBtTFZtuO9vM7GYH4eBA5zAa2/t3Bz3ZcbBcWxycAyoSngOap5YOFVscAtNCW+Si1srln0mWZj7H0805nE+92oSs/Kl+Vf2/qj9jZZqxK803lTqN4ElrX8xTNGpzVoJcBrOP5SlPdjRLMzpeeIOT2yReSKaGSpidw/lZXJinuUwlgUnlzFklYhjjDYIcNwCVQ69wZEYjx3gZZ2gKY+xk4M6UOWLbD5xxmWVgAh5Wrps9x1hSPOFZTwMgp5SWOdcNGynoKOwJ9Gx8PXKY+Ueuqx/uHTjZvLTS1IDOq0FLsJar8dJMUNNq9IwzDInjJi3RjIRZUIpTHJ29Xmp+ixHECDCFabTIHe3O+lQPxNCyk84T8LkdPq5eQmq56tk1UKbUdvTvyP1mqLUsZZwmZnOanMPpGMGRG+cJTC4gzasgTdArfllpxzVyyQ/CKT5wsL17qchMXWXF0rgeTe9/BNMjZbDrTA7t+PRXePpOFayaQ9G3OvPp1f037rfMby83+cbEo0+u/eUX+cU3EqaCsEtxGkWeiUIsSSlkRC5d0zS3QC6noZG5EfbnZ2FHk1NYLePMNFW4iwvNVpHn3YpjkzL4+pJPlheIRv8hgi6Wx311H/tJM+ua8zd2NBZJm7r5UyXzoX8RGbX2qct74XvBLGrh/2bsF5jvDExKkKGzrOfBu0Mb6vudNlnfftO1tlwrdlScJmjjTuMKLY3OR7zoPSXqnU9adrriUbPJqkOxh/GDhryxs+NlU89DBq6ha/w+PQ3pq3eVky/8EXsK+FWr+p131e+KjgeKXocOVKmI4b2PmRuP4YPxiOhdQPSK6O/wWuTC+JPKkOhNuv6S6LcoBIlEjsHXn4uMC0/4RePBRd9zEnMmnR6qc+mbOY1LkzlPvbQtf3LyJ8UyaH6m+a6Ycmns0JvmJfHppaeXUUmAc+tQe2FWbnaylX5Qa+Qllga8QSUGmjvbX/EiJtqXKGcbj683f1ZEmOwziAe8ZIUwNK0+PE0YnlK/yMlBL3WgKNhUwPDUcJoHibCoDE0xJIYepNF8+R0AWVVty6M/X3sRKhy7anmCrU23oaawyMnp5ErrvQGLivO1cwMtrVOTpTP7O4NqomIz5fks2eNw7ubuy7h0wvc/dOGvOF67l5vHCovw8Q1l71U6pvWK83uH6wQ9+za97JY1fMYsCqJotsiTUStr6o58M2FhDt4j6NNxSzJl0P1+mFuAgesCn8d/WfsYlJsIDjvXOgiw0oUUckm3DwLhOEQhBpEJ/N8ITD7IbT78dzUL7EUQFAFzWgban9L7KCS/fwaB1+/dItbP09a/TAd5E7/ALar32MNPVS5NSiZgPPn/JVlul4B9lIKRr7OBgmFrgNTxuuEGGiVrya1snZRjX/5xaiUEsYzxYyarp1olxiwGBD58WQOB8/En/2z2DsbcEGXn1FVmFEyI6xBRS018XGpufJQ4L7Sza/3V0PDS/24kFPXzjYW6snHJyJ/LQP+8+UgOfWMD2SBixIbmxnAw+uhCpsd0ReawXbxXv5GUa86Zr+Q393zSJBkdrYpDrRJcpv6C6Lnw7BjLlMmfDgEDKroiwUliB3/bf38ZdwTijyz3Bee5NOqOTRJGJ3VHZwhA7e02/NbgIzqmu2MbXFguvss3CicldKQjG+883TCSHt+xhxRy2ynvAT/k/veDIWVxRQUzeCk3urDk4SFabOV3NG12NuWn9bat9rSB31ckx4viexN4gbtkICjH9dqjE4SxCd2xwQNkk9HPOM4dD6ZLTs2kJEcHxeLxfQaLSk6a8f2ho9ecOjgvJQRCL3QdtTtKRtYRcHFol1lks6EUc++0FQVsbqsTz8T1CH2CXD3jnMXqQbP/bo+nZ83N83k7D20N6sVYBTVZRwZZ8876tInEk/+E8TVdaTqP32nm9BQsMmV5iV0WU9w4kx6X5EjXSKKZS3T4HqYZo9414CockMbQenlxokvOqEMrrhzxWbxyxuiYCe5EprHH+VxmnIMiWzLvlzetNYgaT/2prvVr5j3jsCt0QbTNko3cOSJx0TrQN9yHxDrHsDMSuPtxOR7BlbdAzuiAk7uGktSxTmr8HDf4L6uNAUcVWFk0uxBYLQI7Ud78ZyNDSblNqRrS872jf83P9c6lVqXOV6cf3xGzUN1XX1zUV1O9AI7I6b/6v62vu+udIP2G7875nO313gWR7k6ZneUdv8w7HmCNSpH3rmyvj+6cqi9N6ILO7sAbAztR7AVtaIzW6SB0OfDrR2AHtkg6P8POwD4qSoYilA3ZOBEk72bWxXGhREhUYID8mgzRzEtr6ZNt4jWPwheu01OenQJgf17Mm7eENGTzKOk/FbTLtqvqVGkAEJI9AR91hvjHMDucncAxBU6BfYU7hw7K3xozBda+IaHABSDYhZdD2Oha6SSnbineIm4h8WblHwte4+zRbTJcBwT5o10uAdv3cV3r7SGtzUPzRrBdw4/OkSmgGQ9Z33B+m27IYr1LGmj7t3XKy222FSHok4japw5ild93WQoQOkDof1D05vg3c0UF91djKxdssZO+2wv4hZreCtXe8i62/fxo26OfflovLr7TtPM50E+L3imNjeKu//JzgnT+VodLb0wstej0ucMX0QazxU76AT9pobpPsqOvHix+4l491JCdJs7nmuLdzuzz0++ySI721X/kbE+inQmzbvvy1ZiPxCI5gBX9pNEvyYLKpERp26Tw4t3CpKJxu/hc46y8O/OR6R1HnjERoELZhnWQv41tg7sOFFPK2gZNXA+ZElMu7jumOLFFIHc+J/CfIzVukDo2lCBYJecEhajUsto4vRl88bWomdfrxFviae0YUI5Hn3b23P/hmVdASMCz1z/c6HlqcAxc2Ykqz70xS7gd53dhoUyVgR3CbfiNKW774dGJgLctCHY9e47ygAA8BKhsORjZCsXAb/qv1AuE35WPAnX4+wcmDPnPG78AcjjCA4uA2sFo9rKgh9iCx29Z16DgeddDWRmEBQY0zDW0YlourrwH+28kUys6392KPOyZEsROby5P1UyxKs7g+YMxxfQPzIn8nB5KRBwMtQxoh2CXLTS3DIBhcRHYNT8n5MFlxUiFQKGwgP0WVICNeN2xGXHqeJQ67dnvw3ZRL08Q3r5TkZfcYYfdz9RppZuligE95gNzsrtT5WGrzUX7WfJQYz5afiHe2M/bqrgVIcD6b3ahHOw8Pv/bkeVVlcOvXnyrun5AVeXj3upWVDgb0yP0qf/+qJye1ViIv2a6h19TBnZqYWw2rJKX2IaaSIJKd1A4CsYCuoCDODbos+mM72wqvRirF+huJfSv6fWhzImD+u3bIXrVY0Z4FdoFv1Db2Oscl3Tdsvn2UYJIFGMrB7voZ2kbeEiCQ5oG7gx7Q7C3Y+fi/BFo4SAGwe4the3gwLZ3YP/HNqywnRRLY38ODpJaavuLMm28QMYv2LNm4V39Z8LVNUzGl8Dezm73CIKdvL2hbVZAGjtGkJdiuzEyTk6OySt8rw9yqkOIvtzBT+tu3AVbNhnRV7mJwuJ4yv5JQ7ruNGLzvd4Q0FV6CYRbJwjv3lLtFi/v+1Z+bOZHSchiDoKdfCNozT6UOan5h6TIzNzShNzOed+iSTzoj0sU3QBabupBfQ2ScuIo1nw7R3BVPfZmM5Vlf0HrJM3oieag4zk3890aXmaZw4V5KRNxhqxin8xMJ5o1zcSYEHvw5lsPtafupOXO4xRS7khbrfBxGYkNIMdQBmQgKIKDOBTY8NJisjjD7wExKGV3TjfspMdbDjDFPmQvojirtd1+5xNfc//re7r9bazilHT77MD+AQ1EJhwf+m0qtrhTRsGwfdEmPtBBhQ+mG82fUKETSkjK3eUq5UCXi9uHkrXTcedROgh7x2CbqDjtCTlKOUvd+N7Rknba9XCSKusi2yDEiFGXwyqRirEUMw4xh2jGTcHEJRJWTi3DKATo7xkysAfIgKacfUnV/VDKaZdz5HgWEBBivhQatUIiUsXh0005QmrUvbsgKVa2z/esh5mDR0J5TiHHx8HJP+psX9u+glN+TxgRmXElHH+nIB7vFNARFv5CADda/U/qzx/iuURW7i3BQ3i/uRTKy0jMPs+khtvSwoQE2RBdUB3jfMNZ4OotFZ2XPShpzMjXSbAuys6KAN77ImRReX1t8PJMsntcJGaXcfdv/LuLOedu/7Yw+ujnXWsaxI97q260FM/E9eiqZcDSA2nmEBKVAv2RmdmA5Fwn9kqf4/ZxHVJmWWZUT9DDdnAyNqEMAF7DxHjZie2w2rlw/tfZhwZOKLCg1Ln7NfVPD5vW2bufGgJgdfMj1Ax07m1+CZoAADz8qwYAXv0is9i/Nrq7mAAEymH95TmrHxrCJF8tsqxdumFi4MRuzFkn6ldbucWnitqN0R66E1njLO3czEW3+4EvKww+jGRPaBzic0v7IOfW3y4zEw22h2nzaH0/u2SAo7N4i2Esxw3uefggVHngywyePmqXTmaFE7tG+/KcqE0C2SuOhSL7fkH4wx7LfU6IoRuBsmTRdlY5Iltu8eZRCJkoHDh//gDZLKJND5GxxLftduPK+cyEwOeV2JQzT5nZaec8IFTbnq0NU/u2ToaTEJrG/83jE7Hn55wJp2m0E9XyIMupmYlNJYbXB7JZjsWhvMlhwTaRbeJ7iB1z3Ob46iJ884wpBiGQXRnpClsnFU25igxihGwoxG8iWu2tSShaTcqty2QCWSYnzTcVmpWmi2qT6bHLVtMQVdF7DsSrFAyJCuDIqzwyCVlPTcqoFyaTVN9MLqSDTUVYp5suQW2ankqgk5RMQ8lgzwgkjOP/wcW7Od2qrogkyxbLWwfZ98fvUL/LDl/G5EGr/jOdt3nk+NH+RDR4vx3Nnq72hWumbUaXD9+Or+4YHj1C3eCQtX33NVlPU5RnHu9mrz/wmr5rUZPXvVbL5J9+WrW033qShvMtxskhHWm+DvJ6XEXPj1R8cel9HFH7gxVkFgPqDgGPs5TMN6KkhwwxDLczh2SKJcLKnMNC9YMhUnaAF81UHmpkRkSDtB6xskRiJVogq/kBiEdVL9MUyJC6fKXPaIA0LYCepYZEwGBuBQQi1TcxDNUdvngaoYeuVSWSrUz0zNkYufhgs+djqRpEEczdx1weqQdNooyE0QBFANrwocqMqnCSCZWkGpK08EY0ImJRacI0iIlq8DQ8uCu1aL65S/TqNRl55pJKnRS0M88t9K1lFBaVK2O0F6klqfasiREhC8kBYoM+UlBkEFHZwlF4tansJFgYuAFxpAXyAoaNpiW59ZKXJOXZNa7aq/i8/y1JslvbgDRhYHfIekcIKkmj8zB4BXj05NmLV2/effj009d//fnHTpXHntXpgI7ebx+YWXz3G7ZzcHJx+/ApaBbDIqK+fEoZzqScT1cqpZ2ttNrWwR30TMwc3dwrimZrl04cAAAA') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

*{
	border: none;
	margin: 0px;
	padding: 0px;
}

body{
	text-align: center;
	background-color: #222222;
	font-family: "Jost", sans-serif;
	color: #FFFFFF;
	background-image: url(indexImgs/background.png);
	text-shadow: 1px 1px #000000;
}

hr{
	border-top: 1px #000000 solid;
	border-bottom: 1px #666666 solid;
}

h1{
	line-height: 2em;
	font-size: 4.5em;
	font-weight: 300;
	text-shadow: 2px 2px #000000;
}

h2{
	font-weight: 400;
	line-height: 1.6em;
	font-size: 1.8em;
	width: 100%;
	background-color: #333333;
	border-top: 1px #3F3F3F solid;
	border-bottom: 1px #111111 solid;
	padding-bottom: 5px;
	margin-bottom: 30px;
}

a.projectLink{
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	color: #FFFFFF;
	border: 1px transparent solid;
	font-size: 1.35em;
	font-weight: 400;
	line-height: 1.8em;
	
	transition: background-color, border-color, color;
	transition-duration: 250ms;
}

a.projectLink:hover{
	background-color: #333333;
	border: 1px #AAAAAA solid;
	color: #FF8800;
}

div.category{
	margin-bottom: 40px;
}

#logo{
	margin-top: 40px;
}

#contactInfo{
	margin-bottom: 40px;
	font-size: 1.2em;
}

#contactInfo a,
.errorDescription a{
	color: #FF8800;
	text-decoration: none;
	border-radius: 4px;
	padding: 0px 4px 0px 4px;
	
	transition: background-color, border-color, color;
	transition-duration: 250ms;
}

#contactInfo a:hover,
.errorDescription a:hover{
	color: #FF3333;
	background-color: rgba(255, 255, 255, 0.1);
}

a.categoryLink{
	color: #FFFFFF;
	text-decoration: none;
	outline: none;
}

a.categoryLink h2{
	transition: background-color, color;
	transition-duration: 250ms;
}

a.categoryLink:active h2{
	background-color: #555555;
	color: #FF8800;
	transition-duration: 1000ms;
}

section{
	margin-bottom: 50px;
}

/* ==================================== */
/*              Error Pages             */
/* ==================================== */


h1.errorpage{
	line-height: 1.1em;
	font-size: 8em;
	margin-bottom: 0px;
}

p.subtitle{
	font-size: 2.5em;
	font-weight: 300;
	text-shadow: 2px 2px #000000;
}

div.errorBackground{
	background-color: #333333;
	width: 100%;
	padding-bottom: 10px;
	margin-top: 50px;
}

div.errorDescription{
	font-size: 1.7em;
	font-weight: 400;
	margin-top: 40px;
}
